.bold.description.title{
    font-weight: bold;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}

table thead td{
    font-weight: bold;
}

table, #add-vehicle{
    margin-top: 20px;
}